.App {
  text-align: center;
  a {
    text-decoration: none ;
    color: cornflowerblue;
  }
  a:hover
  {
    color:darkblue;
    text-decoration:none;
    cursor:pointer;
  }
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;
}

.homepage-header {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  .title {
    margin-bottom: 0px;
  }
}

.mural-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mural-tile {
  padding: 0.25rem;
  background-color: gray;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  border: 1px solid gray;
  max-width: 25rem;

  img {
    max-width: 100%;
  }
  a {
    text-decoration: none ;
    color: white;
  }
  a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
  }
}

.mural-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin-top: 1rem;
    .title {
      font-size: 2rem;
    }
    .artist {
      font-size: 1.5rem;
    }
  }
  .audio-controls {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .description {
    text-align: left;
    margin: 0.5rem;
  }
  .link {
    margin-bottom: 1rem;
    a {
      color: white;
    }
  }
  .back-button {
    a {
      text-decoration: none ;
      color: black;
    }
    a:hover
    {
      color:cornflowerblue;
      text-decoration:none;
      cursor:pointer;
    }
  }
}
